* {margin: 0;padding: 0;box-sizing: border-box;
   border: none;text-decoration: none;}


   body {
      width: 100%;
      height: 100vh;
      background: rgb(63, 62, 62);
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .App {
      position: relative;
      width: 350px;
      background-color: white;
      padding: 5px;
   } 

   .results {
      width: 100%;
      height:70px;
      background-color: orangered;
   }

   .reset-div ,.top-numbers-div , .middle-numbers-div , .second-middle-numbers-div , .bottom-numbers-div {
      width: 100%;
      height:15%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
   }

   #ac-button , .zero {
      width: 50%;
      height:50px;
      background-color: rgb(225, 56, 56);
      color: white;
   }

   button {
      width: 25%; 
      height: 50px;
      font-size: 22px;
  }